{% extends 'main.html' %}
{% load static %}
{% block title %}
Add Event  | Ignis
{% endblock %}

{% block content %}


    <form action="{% url 'add_event' %}" method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Add Events</h1>
        <div class="eventname">
            <input type="text" name="eventname" id="eventname" placeholder="Enter event name">
        </div>
        <div class="date">
            <input type="date" name="date" id="date">
        </div>
        <div class="time">
            <input type="time" name="time" id="time">
        </div>
        <div class="location">
            <input type="text" name="location" id="location" placeholder="Enter event location">
        </div>
        <div class="eventprice">
            <input type="number" name="eventprice" id="eventprice" placeholder="Event starting price">
        </div>
        <div class="image">
            <input type="file" name="eventimage" id="eventimage" class="eventimage">
        </div>
        <button class="button">Add</button>
    </form>

    {% endblock %}